# Fichero .gitignore que incluye ficheros y carpetas que no queremos que sean tenidos en cuenta en nuestro control de versiones.
# Estos ficheros y carpetas no serán subidos al repositorio de Git.


# Ignora toda la carpeta node_modules (ya que esta carpeta se instala con el comando express de express-generator)
node_modules

# Ignora el fichero de base de datos quiz.sqlite
quiz.sqlite

# Ignora fichero de debug de npm
npm-debug.log

# Ignora el fichero de variables de entorno
.env